<div class="user-info-wrapper">
  <%= image_tag user.photo, :class => 'user-avatar' %>
  <div class="user-details">
    <p class="username"><%= user.name %></p>
    <p class="post-number">Number of posts: <%= user.post_counter %></p class="post-number">
  </div>
</div>