<article class="main-article" style="width: 90%; margin: auto">
  <%= render partial: '/shared/user', locals: { user: @user } %>

  <% @posts.each_with_index do |post, index| %>
    <div>
      <%= link_to "/users/#{@user.id}/posts/#{post.id}" do %>
        <%= render partial: '/shared/post', locals: { post: post } %>
      <% end %>
      <div class="post-comments">
        <div class="comments">
          <% post.recent_comments.each do |comment| %>
            <%= render partial: '/shared/comment', locals: { comment: comment } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <a class='see-all-link'>Pagination</a>
</article>
