<article id="user-post">
  <%= render partial: '/shared/post', locals: { object: @post } %>
  <div class="comments-wrapper">
    <% @comments.each do |comment| %>
      <%= render partial: '/shared/comment', locals: { comment: comment } %>
    <% end %>
  </div>
</article>
